<div class="main">
  <div class="main-header">
    <div class="room-name">
      hogefuga
    </div>
    <div class="chat-end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
  <div class="main-chat">
    <div class="post">
      <div class="post-name">
        <p class="name-list">Tom</p>
      </div>
      <div class="post-time">
        <p class="time-list">2020/11/29</p>
      </div>
    </div>
    <div class="post-chat">
      おはよう
    </div>
    <div class="post">
      <div class="post-name">
        <p class="name-list">Tom</p>
      </div>
      <div class="post-time">
        <p class="time-list">2020/11/29</p>
      </div>
    </div>
    <div class="post-chat">
      こんにちは
    </div>
  </div>
  <div class="main-footer">
      <div class="message-form">
        <input type="text" class="text-form" placeholder="type a message">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
        <input type="submit" value="送信" class="submit-form">
  </div>
</div>